body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #faf8ef;
    color: #776e65;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: #bbada0;
    padding: 5px;
    margin: 0 auto;
}

.level-0 { background-color: #cdc0b4; color: #cdc0b4; }
.level-2 { background-color: #eee4da; }
.level-4 { background-color: #eee1c9; }
.level-8 { background-color: #f3b27a; color: #f9f6f2; }
.level-16 { background-color: #f69664; color: #f9f6f2; }
.level-32 { background-color: #f77c5f; color: #f9f6f2; }
.level-64 { background-color: #f75f3b; color: #f9f6f2; }
.level-128 { background-color: #edd073; color: #f9f6f2; }
.level-999 { background-color: #edd073; color: #f9f6f2; }

.grid div {
    width: 90px;
    height: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 5px;
    padding: 25px 0;
}